@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    --duration: 5000ms;
    --nice-color: #50442c;
    
    font-family: 'Comic Neue', cursive;
    font-style: italic;
    /* background-color: greenyellow; */
    color: dodgerblue;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all var(--duration);
    cursor:e-resize; /* very nice */
}
body {
    background-color: greenyellow;
}
h1, h2, h3, h4, p {
    transform: rotate(0.3deg);
}
*::first-letter {
    text-transform: lowercase;
}
*::selection {
    background-color: var(--nice-color);
    color: var(--nice-color);
}
p {
    width: auto;
}
h1, h2, h3, h4 {
    margin: 5%;
    width: max-content;
}
article {
    position: relative;
    margin-top: 10%;
    border: 1px dotted var(--nice-color);
    width: max-content;
}
#azul{
    width: 300px;
}
#azul img{
    width: 290px;
}
.content {
    margin: -10px;
    border: solid red;
    background-color: var(--nice-color);
    color: blue;
    width: max-content;
    padding: 3.33px;
    box-shadow: 0px 0px 5px tomato;
    cursor:crosshair;
}
/* .content:hover {
    margin: 1rem;
    background-color: forestgreen;
    color: red;
    width: 150px;
    font-weight: bold;
    text-align: right;
} */
@keyframes reverse-spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.outer {
    margin: 100px;
}
#popup-container{
    z-index: -1;
    bottom: -1px;
    display: flex;
    position: fixed;
}
.popup {
    z-index: 10;
    position: absolute;
    border: solid var(--nice-color);
    position: relative;
    bottom: -206px;
    font-weight: bold;
    background-color: red;
    width: max-content;
    height: fit-content;
    cursor: help;
    text-align: center;
}
.popup:hover {
    bottom: -5px;
    background-color: blueviolet;
    box-shadow: 0 0 10px black;
}
#robot {
    position: absolute;
    font-size: 3rem;
    cursor: pointer;
    font-style: normal;
}
.spin {
    position: absolute;
    animation-name: spin;
    animation-duration: var(--duration);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: top left;
}
.reverse-spin{
    position: absolute;
    color: transparent;
    animation-name: reverse-spin;
    animation-duration: var(--duration);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: top left;
    text-shadow: 0 0 10px var(--nice-color);
}
#credits{
    z-index: 100;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: darkcyan;
    background-image: url("/assets/linode.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#credits h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color: var(--nice-color);
}
#credits p {
    font-size: 5rem;
    color: red;
}